.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  padding: 4px 7px 4px 8px;
  border: solid #000000 1px;
  text-decoration: none;
}

.btn:hover {
  background: #c0c7cc;
  text-decoration: none;
}